
:root {
    --main-bg: #ffffff;
    --accent-color: #3470ff;
    --tags-color: rgba(18, 20, 23, 0.50);
    --white-text: #ffffff;
    --name-text: #121417;
    --description-text: #ffffff;
    --home-bg: url('../img/Home-bg.webp');
}
.page-theme-dark {
    --main-bg: #121417;
    --accent-color: #1d57e0;
    --tags-color: lightgray;
    --white-text: #121417;
    --name-text: #ffffff;
    --base-font-size: 16px;
    --home-bg: url('../img/Dark-bg.jpg');
    }